h2 {
  position:absolute;
  bottom: 25%;
  left:2%;
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal; 
  opacity: 0.7
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  fill: none;
  pointer-events: all;
}

#cells g:hover path.arc {
  display: inherit;
}

.land {
  fill: none;
  stroke: brown;
}

.state-boundary {
  fill: none;
  /*stroke: lightgrey;*/
  stroke: brown;
}

#cells.voronoi path.cell {
  stroke: brown;
}

path {
  fill: none;
  stroke: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}